<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no">
    <title>Vorder: Trading Crypto with Voice</title>
    <link rel="stylesheet" href="<%= static_path + "/css/styles.css" %>">

    <script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.1/howler.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io-stream/0.9.1/socket.io-stream.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/kopiro/siriwave/dist/siriwave.umd.js"></script>

  </head>

  <body>
    <!-- Top Info -->
    <div id="title">
      <div id="headerLeft">Vorder</div>
      <span id="headerCenter"></span>
      <div id="headerRight"></div>
    </div>

    <!-- Controls -->
    <div class="controlsOuter">
      <div class="controlsInner">
        <div id="loading"></div>
        <div class="btn" id="startBtn"></div>
        <div class="btn" id="waitingWakeWordBtn"></div>
        <div class="btn" id="recordingBtn"></div>
      </div>
      <div class="btn" id="settingsBtn"></div>
      <div class="btn" id="volumeBtn"></div>
    </div>

    <!-- Microphone Waveform -->
    <div id="waveform"></div>

    <!-- Volume -->
    <div id="volume" class="fadeout">
      <div id="barFull" class="bar"></div>
      <div id="barEmpty" class="bar"></div>
      <div id="sliderBtn"></div>
    </div>

    <script src="vorder.js" %>"></script>
    <!--<script src="<%= static_path + "/js/audio_devices.js" %>"></script>-->
    <script src="<%= static_path + "/porcupine/web_voice_processor.js" %>"></script>
    <script src="<%= static_path + "/porcupine/porcupine_manager.js" %>"></script>

  </body>
</html>
