files:
    "/opt/elasticbeanstalk/hooks/postdeploy/post/99_create_jwt_public_keys.sh":
    mode: "000644"
    content : |
        #!/bin/bash
        sudo mkdir -p /var/app/current/public_keys/
        sudo chmod 755 /var/app/current/public_keys/
        sudo touch /var/app/current/public_keys/jwks.json