container_commands:
  01_enable_websockets:
    command: |
      sed -i '/\s*proxy_set_header\s*Connection/c \
              proxy_set_header Upgrade $http_upgrade;\
              proxy_set_header Connection "upgrade";\
              ' /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf
  02_enable_wasm_files:
    command: |
        sed -i '/\s*alias \/var\/app\/current\/static;/a \
            include /etc/nginx/mime.types;\
            types {\
                application/wasm wasm;\
            }\
            ' /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf
  03_cat_nginx:
    command: |
        cat /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf