option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
    GOOGLE_SERVICE_ACCOUNT_FILE_PATH: "google-service-account-key.json"
    GOOGLE_SERVICE_ACCOUNT2_FILE_PATH: "google-service-account-key-2.json"
    EVENTS_TABLE: Vorder-Events
    SESSIONS_TABLE: Vorder-Sessions
    CREDENTIALS_TABLE: Vorder-Creds
    SESSIONS_SECRET: "fiADDAWJNAEJKFEC96+569854!.?=cwGSu9chfserw9vrsndIO85151"
    EVENTS_BUCKET: vorder-user-recordings
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: /static