option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
    PORT: 3000
    COOKIE_MAX_AGE: 86400000
    EXPECTED_SENTENCES_FILE_PATH: speech-expected-sentences.json
    LANGUAGE_CODE: en-US
    TTS_VOICE_NAME: en-US-Wavenet-G
    TTS_PICH: 3.2
    TTS_SPEAKING_RATE: 1
    TTS_ENCODING: MP3
    STT_ENCODING: LINEAR16
    STT_SAMPLE_RATE: 16000
    EVENTS_TABLE: Vorder-Events
    SESSIONS_TABLE: Vorder-Sessions
    CREDENTIALS_TABLE: Vorder-Creds
    EVENTS_BUCKET: vorder-user-recordings
    ORDER_PROCESSING_SCRIPT_PATH: order_processing.py
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: /static