option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
    PORT: 3000
    EXPECTED_SENTENCES_FILE_PATH: speech-expected-sentences.json
    EVENTS_TABLE: Vorder-Events
    SESSIONS_TABLE: Vorder-Sessions
    CREDENTIALS_TABLE: Vorder-Creds
    EVENTS_BUCKET: vorder-user-recordings
    ORDER_PROCESSING_SCRIPT_PATH: order_processing.py
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: /static